body {
background-color:aliceblue;
margin:0px; 
text-align:center;
      /* Ubicación de la imagen */
         
      background-image: url(../Imagenes/qbert.jpg);
         
      /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
         
      background-position: center center;
         
      /* Para que la imagen de fondo no se repita */
         
      background-repeat: no-repeat;
         
      /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
         
      background-attachment: fixed;
         
      /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
         
      background-size: cover;
         
      /* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
         
      background-color: #66999;
      }


      /*#gameScreen { 
         width:800px;
         height:600px;
         margin:10px 10px 10px 10px;
         border:1px solid #888888;
         box-shadow:10px 10px 20px #888888;
         /*background-color: black;
          }*/

 body {
    background-color: aliceblue;
    margin:0px;
    text-align:center;
    height: 500px;
 }

 #personaje{
    width: 30px;
    height: 30px;
    background-image:url(Imagenes/sprites);  
 }


 #cuerpo{
   height: 500px;
}

 #cuadrado{
   margin:200px;
   border: solid 1px blue;
   background:yellow;
   width:30px;
   height:30px;
   position: absolute;
 }

 /*#MarcoDeTrabajo{
    width: 800px;
    height: 600px;
    margin: 10px 10px 10px;
    border: 1px solid #888888;
    background-color: black;
 }*/
